.image-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: hidden;
  height: 100%;
}


.image-display-editing {
  cursor: pointer;
}


.image-display-img {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  user-select: none;
  -webkit-user-drag: none;
}


.image-display-placeholder {
  height: 90vh;
  width: 40vw;
  border: 0.125rem dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: transparent;
  margin: auto;
}


.image-display-drag-active {
  background-color: #f8f8f8;
}


.image-display-text {
  color: #666;
  font-size: 1.2rem;
}

.image-display-uploader .image-uploader-placeholder {
  width: 50vw;
  height: 90vh;
}